asgiref==3.8.1
autopep8==1.5.4
build==1.2.2.post1
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==3.4.0
cloudinary==1.41.0
colorama==0.4.6
Cython==3.0.11
diff-match-patch==20241021
dj-database-url==0.5.0
Django==5.1.3
django-allauth==65.3.0
django-ckeditor==6.7.1
django-ckeditor-5==0.1.6
django-cloudinary-storage==0.2.3
django-crispy-forms==1.12.0
django-debug-toolbar==2.2
django-dotenv==1.4.2
django-environ==0.9.0
django-import-export==4.3.3
django-jazzmin==3.0.1
django-js-asset==2.2.0
django-social-share==2.2.1
django-static-fontawesome==5.14.0.0
django-taggit==3.0.0
django-tailwind==3.8.0
djangorestframework==3.15.2
gunicorn==20.0.4
idna==2.10
mock==4.0.2
mysqlclient==2.2.6
packaging==24.2
pillow==11.0.0
pycodestyle==2.12.1
PyMySQL==1.1.1
pyproject_hooks==1.2.0
python-decouple==3.3
pytz==2020.1
requests==2.32.3
setuptools==75.6.0
six==1.16.0
sqlparse==0.3.1
tablib==3.7.0
toml==0.10.1
tzdata==2024.2
urllib3==2.2.3
wheel==0.45.1
whitenoise==5.2.0
